<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInnovationChallengeLabel" jhiTranslate="innovationPortalApp.innovationChallenge.home.createOrEditLabel">Create or edit a Innovation Challenge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!innovationChallenge.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="innovationChallenge.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.challengeName" for="field_challengeName">Challenge Name</label>
            <input type="text" class="form-control" name="challengeName" id="field_challengeName"
                [(ngModel)]="innovationChallenge.challengeName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.challengeDescription" for="field_challengeDescription">Challenge Description</label>
            <input type="text" class="form-control" name="challengeDescription" id="field_challengeDescription"
                [(ngModel)]="innovationChallenge.challengeDescription" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.dateCreated" for="field_dateCreated">Date Created</label>
            <div class="d-flex">
                <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" [(ngModel)]="innovationChallenge.dateCreated"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="innovationChallenge.startDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.endDate" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="innovationChallenge.endDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="innovationChallenge.createdBy" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.innovationChallenge.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="innovationChallenge.category" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id === innovationChallenge.category?.id ? innovationChallenge.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.categoryName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
