
<div *ngIf="processImprovement">
    <h2><span jhiTranslate="innovationPortalApp.processImprovement.detail.title">Process Improvement</span> {{processImprovement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="innovationPortalApp.processImprovement.problemName">Problem Name</span></dt>
        <dd>
            <span>{{processImprovement.problemName}}</span>
        </dd>
        <dt><span jhiTranslate="innovationPortalApp.processImprovement.problemDesc">Problem Desc</span></dt>
        <dd>
            <span>{{processImprovement.problemDesc}}</span>
        </dd>
        <dt><span jhiTranslate="innovationPortalApp.processImprovement.category">Category</span></dt>
        <dd>
            <span jhiTranslate="{{'innovationPortalApp.Category.' + processImprovement.category}}">{{processImprovement.category}}</span>
        </dd>
        <dt><span jhiTranslate="innovationPortalApp.processImprovement.rating">Rating</span></dt>
        <dd>
            <span jhiTranslate="{{'innovationPortalApp.Rating.' + processImprovement.rating}}">{{processImprovement.rating}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'process-improvement-my-suffix/'+ processImprovement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
