<!--<style>
.jh-card{
  background: url("../../content/images/banner2.gif") no-repeat center top  ;
  background-size: contain;
}

.container-fluid{
  box-shadow:inset 0 0 0 2000px rgba(112, 48, 121, 0.34);
  }


</style>-->
<style>


</style>


<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<!--<div class="container-fluid">-->
  <!--  <div class="card jh-card">-->
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
  <!--  </div>-->
  <!--  <jhi-footer></jhi-footer>-->
<!--</div>-->
