
<div *ngIf="category">
    <h2><span jhiTranslate="innovationPortalApp.category.detail.title">Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="innovationPortalApp.category.categoryName">Category Name</span></dt>
        <dd>
            <span>{{category.categoryName}}</span>
        </dd>
        <dt><span jhiTranslate="innovationPortalApp.category.dateCreated">Date Created</span></dt>
        <dd>
            <span>{{category.dateCreated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="innovationPortalApp.category.categoryDescription">Category Description</span></dt>
        <dd>
            <span>{{category.categoryDescription}}</span>
        </dd>
        <dt><span jhiTranslate="innovationPortalApp.category.createdBy">Created By</span></dt>
        <dd>
            <span>{{category.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-my-suffix/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
