<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentLabel" jhiTranslate="innovationPortalApp.comment.home.createOrEditLabel">Create or edit a Comment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!comment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.comment.commentSummary" for="field_commentSummary">Comment Summary</label>
            <input type="text" class="form-control" name="commentSummary" id="field_commentSummary"
                [(ngModel)]="comment.commentSummary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.comment.datePosted" for="field_datePosted">Date Posted</label>
            <div class="d-flex">
                <input id="field_datePosted" type="datetime-local" class="form-control" name="datePosted" [(ngModel)]="comment.datePosted"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.comment.commentedBy" for="field_commentedBy">Commented By</label>
            <input type="text" class="form-control" name="commentedBy" id="field_commentedBy"
                [(ngModel)]="comment.commentedBy" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="innovationPortalApp.comment.idea" for="field_idea">Idea</label>
            <select class="form-control" id="field_idea" name="idea" [(ngModel)]="comment.idea" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ideaOption.id === comment.idea?.id ? comment.idea : ideaOption" *ngFor="let ideaOption of ideas; trackBy: trackIdeaById">{{ideaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
