
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  /*  display: inline-block;
    width: 347px;*/
    //height: 535px;
  //  background: url("../../content/images/image6.jpg") no-repeat center top;
    background-size: contain;

}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
      //  background: url("../../content/images/portal2.jpg") no-repeat center top;
        background-size: cover;
    }
}






body {
background: url("../../content/images/portal11.jpg") no-repeat center top  ;
background-size: cover;
min-height: 100%;
margin:0;


}
/*.row{
  //background:linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), transparent url("../../content/images/banner.gif");
background: url("../../content/images/harare.gif") no-repeat center top  ;
  //background-color: rgb(17, 17, 17);
background-size: cover;
}*/
